In [31]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv("./DOA_ML/ML_DATA/20220221_trans실제테스트minmax.csv")

In [41]:
df[df.Year==2007]

,Unnamed: 0,Unnamed: 0.1,Species,gps,Year,axyridis_2007_18km,axyridis_2008_18km,axyridis_2009_18km,axyridis_2010_18km,axyridis_2011_18km,...,ornatus_2012_18km,ornatus_2013_18km,ornatus_2014_18km,ornatus_2015_18km,ornatus_2016_18km,ornatus_2017_18km,ornatus_2018_18km,ornatus_2019_18km,ornatus_2020_18km,ornatus_2021_18km
0,0,0,Coccinella transversoguttata,"(37.344996, -108.28924)",2007,NaN,0.0,0.000000,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,NaN
1,1,1,Coccinella transversoguttata,"(39.72716, -105.142196)",2007,NaN,0.5,0.333333,0.0,0.25,...,0.0,0.0,0.0,0.1,0.0,0.0,0.021739,0.0625,0.103448,NaN

In [42]:
     
df['latitude']=0
df['longitude']=0
df['occurrenceRemarks'] = 'Note'
for i in range(len(df)):
    df['latitude'][i] = df.gps[i].split(',')[0].replace("(","")
    df['longitude'][i] =df.gps[i].split(',')[1].replace(")","")
    
for i in range(2007,2022):
    globals()['df_{}'.format(i)]=df[['latitude','longitude','Species','occurrenceRemarks','Year']].rename({'Species':'scientificname'},axis=1).reset_index(drop=True)
    globals()['df_{}'.format(i)] = globals()['df_{}'.format(i)][globals()['df_{}'.format(i)].Year==i]
df_modi = df[['latitude','longitude','Species','occurrenceRemarks','Year']].rename({'Species':'scientificname'},axis=1)

for i in range(2007,2022):
    globals()['df_fin{}'.format(i)] = pd.concat([globals()['df_{}'.format(i)],df_modi[df_modi.Year==i]]).drop_duplicates(keep='first').reset_index(drop=True)
    
for i in range(2007,2022):
    globals()['df_fin{}'.format(i)].to_csv("../aoo/trans_pure"+str(i)+".csv", index = None)

<ipython-input-42-d9de53399b35>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['latitude'][i] = df.gps[i].split(',')[0].replace("(","")
C:\Users\DAEGYEONGLEE\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
<ipython-input-42-d9de53399b35>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['longitude'][i] =df.gps[i].split(',')[1].replace(")","")

In [39]:
df_2007

,latitude,longitude,scientificname,occurrenceRemarks,Year
0,43.0576848316,-89.4940895167,Hippodamia parenthesis,Note,2007