In [2]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
from haversine import haversine

# 새 dataframe 만들기

In [2]:
os.chdir(path = '../Data/E_bird/')

In [3]:
for i in range(len(os.listdir())):
    globals()['bird{}'.format(i)] = pd.read_csv(os.listdir()[i],sep='\t')

C:\Users\DAEGYEONGLEE\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\DAEGYEONGLEE\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (14,16,17,36,37,38,39,41,43,44,46,48) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
for_merge = bird1.iloc[0:0]

In [5]:
for i in range(26):
    for_merge = pd.concat([for_merge,globals()['bird{}'.format(i)]])

In [6]:
bird2021 = pd.read_csv("../새2021.csv")

In [7]:
for_merge = pd.concat([for_merge, bird2021]).reset_index(drop=True)

In [8]:
for_merge = for_merge[for_merge.coordinateUncertaintyInMeters.isnull()].reset_index(drop=True)

In [9]:
for_merge=for_merge[['species','year','month','decimalLatitude','decimalLongitude']].reset_index(drop=True)

In [10]:
for_merge=for_merge.drop(for_merge[for_merge.species.isnull()==True].index).reset_index(drop=True)

In [11]:
for_gps = []
for i in tqdm(range(len(for_merge))):
    for_gps.append( (for_merge['decimalLatitude'][i], for_merge['decimalLongitude'][i]) )

100%|████████████████████████████████████████████████████████████████████| 3034469/3034469 [00:26<00:00, 115150.02it/s]

In [12]:
for_merge['gps'] = for_gps

In [13]:
#INAT에서 온 친구들 거르기

for_merge=for_merge[(for_merge.species!='Locustella certhiola')&(for_merge.species!='Locustella ochotensis')&
         (for_merge.species!='Ianthocincla pectoralis')&(for_merge.species!='Luscinia calliope')&
         (for_merge.species!='Iduna aedon')&(for_merge.species!='Phylloscopus sibillatrix')&
         (for_merge.species!='Muscicapa latirostris')&(for_merge.species!='Tiaris bicolor')&
         (for_merge.species!='Tiaris canorus')&(for_merge.species!='Lonchura oryzivora')&
         (for_merge.species!='Lonchura cucullata')&(for_merge.species!='Estrilda coerulescens')&
         (for_merge.species!='alcarius ornatus')]

In [14]:
for_merge = for_merge.drop_duplicates(keep='first').reset_index(drop=True)

In [15]:
df = for_merge

In [16]:
df

,species,year,month,decimalLatitude,decimalLongitude,gps
0,Locustella lanceolata,2007,6,52.350440,175.917200,"(52.35044, 175.9172)"
1,Locustella fluviatilis,2017,10,63.779300,-171.721450,"(63.7793, -171.72145)"
2,Locustella lanceolata,2015,10,63.779300,-171.721450,"(63.7793, -171.72145)"
3,Locustella lanceolata,2013,9,63.779300,-171.721450,"(63.7793, -171.72145)"
4,Acrocephalus schoenobaenus,2007,9,63.779300,-171.721450,"(63.7793, -171.72145)"
...,...,...,...,...,...,...
1531832,Tiaris olivaceus,2021,9,21.527182,-157.920013,"(21.5271822, -157.9200125)"
1531833,Tiaris olivaceus,2021,12,21.334812,-157.814511,"(21.3348122, -157.8145112)"
1531834,Tiaris olivaceus,2021,2,25.996584,-97.569051,"(25.9965839, -97.5690513)"
1531835,Tiaris olivaceus,2021,3,26.126834,-97.957817,"(26.1268335, -97.9578167)"
1531836,Tiaris olivaceus,2021,3,26.124386,-97.958565,"(26.124386, -97.9585648)"

# 본작업

In [17]:
df2 = pd.read_csv('../../일반화 과정/ursina_조사.csv')

In [18]:
df2 = df2[df2.Species=='Brachiacantha ursina'].reset_index(drop=True)

In [19]:
df2_gps = []
for i in tqdm(range(len(df2))):
    try:
        df2_gps.append( (df2.Latitude[i], df2.Longitude[i]) )
    except:
        print(i)
        
        
df2['gps'] = df2_gps

100%|█████████████████████████████████████████████████████████████████████████████| 769/769 [00:00<00:00, 64256.51it/s]

In [20]:
df2=df2[['Species','gps','Year']]

In [21]:
df_dict = {'year' + str(i): df.loc[df["year"]==i].sort_values(by="species").reset_index(drop=True) 
           for i in range(2007,2022)}

In [22]:
# ABSENCE 3종 BIPUNC PTYPE

# PTYPE = ['Lanius_borealis_18',
# 'Harmonia_axyridis_18',
# 'Cinclus_mexicanus_18',
# 'Coccinella_septempunctata_18',
# 'Coelophora_maculata_18',
# 'Cycloneda_polita_18',
# 'Eremophila_alpestris_18',
# 'Hippodamia_convergens_18',
# 'Anatis_mali_18',
# 'Hippodamia_tredecimpunctata_18',
# "Psyllobora_vigintimaculata_18",
# 'Coccinella_trifasciata_18',
# 'Phainopepla_nitens_18',
# 'Hippodamia_variegata_18',
# 'Olla_vnigrum_18',
# 'Centronyx_henslowii_18',
# 'Coccinella_novemnotata_18',
# 'Chilocorus_stigma_18',
# 'Mulsantina_hudsonica_18']

In [23]:
# bipunctata (minmax)


# P_TYPE=['Harmonia_axyridis_18', 'Lanius_borealis_18',
#        'Coccinella_septempunctata_18', 'Cinclus_mexicanus_18',
#        'Coelophora_maculata_18', 'Cycloneda_polita_18',
#        'Eremophila_alpestris_18', 'Hippodamia_convergens_18',
#        'Anatis_mali_18', 'Hippodamia_tredecimpunctata_18',
#        'Hippodamia_variegata_18', 'Calvia_quatuordecimguttata_18',
#        'Anatis_lecontei_18', 'Mulsantina_picta_18',
#        'Centronyx_henslowii_18']

In [24]:
bass = ['Coccinella septempunctata',
'Plectrophenax nivalis',
'Hippodamia variegata',
'Harmonia axyridis',
'Coelophora maculata',
'Eremophila alpestris',
'Anatis mali',
'Chilocorus stigma',
'Coccinella trifasciata',
'Cinclus mexicanus',
'Cycloneda polita',
'Coleomegilla maculata',
'Adalia bipunctata',
'Myzia pullata',
'Anatis labiculata']


PTYPE = []

In [25]:
for i in bass:
    if i in df.species.unique():
        PTYPE.append(i)

In [26]:
for i in PTYPE:
    for j in range(2007,2022):
        globals()['{}_{}df'.format(i.split(" ")[1],j)] = df_dict['year' + str(j)].loc[df_dict['year' + str(j)].species==i].reset_index(drop=True)

In [27]:
for i in range(2007,2022):
    for j in range(len(df2)):
        for k in PTYPE:
            globals()['{}_{}_{}'.format(k.split(" ")[1],i,j)] = 0

In [28]:
for i in range(2007,2022):
    for j in PTYPE:
        globals()['{}list_{}'.format(j.split(" ")[1],i)] = []

In [29]:
for i in tqdm(range(len(df2.gps))):
    for j in range(2007,2022):
        for name in PTYPE:
            for k in range(len(globals()['{}_{}df'.format(name.split(" ")[1],j)])):
                if haversine(globals()['{}_{}df'.format(name.split(" ")[1],j)].gps[k], df2.gps[i], unit='km') <= 18:
                    globals()['{}_{}_{}'.format(name.split(" ")[1],j,i)] += 1

100%|██████████████████████████████████████████████████████████████████████████████| 769/769 [2:31:43<00:00, 11.84s/it]

In [30]:
for name in PTYPE:
    for j in range(2007,2022):
        for k in range(len(df2.gps)):
            globals()['{}list_{}'.format(name.split(" ")[1],j)].append(globals()['{}_{}_{}'.format(name.split(" ")[1],j,k)])

In [31]:
for name in PTYPE:
    for j in range(2007,2022):
        df2[name.split(" ")[1]+"_"+str(j)+"_18km"] = globals()['{}list_{}'.format(name.split(" ")[1],j)]

In [32]:
df2.describe()

,Year,nivalis_2007_18km,nivalis_2008_18km,nivalis_2009_18km,nivalis_2010_18km,nivalis_2011_18km,nivalis_2012_18km,nivalis_2013_18km,nivalis_2014_18km,nivalis_2015_18km,...,mexicanus_2012_18km,mexicanus_2013_18km,mexicanus_2014_18km,mexicanus_2015_18km,mexicanus_2016_18km,mexicanus_2017_18km,mexicanus_2018_18km,mexicanus_2019_18km,mexicanus_2020_18km,mexicanus_2021_18km
count,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,...,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000,769.000000
mean,2018.395319,4.949285,5.474642,4.841352,6.158648,8.045514,9.459038,15.042913,15.543563,15.342003,...,0.119636,0.096229,0.059818,0.063719,0.115735,0.149545,0.209363,0.214564,0.231469,0.249675
std,3.652522,7.774576,8.660837,7.095209,9.274366,11.920276,12.832807,20.652368,21.223046,19.847631,...,2.286451,1.899451,1.237041,1.232100,2.201059,2.662383,3.882602,3.917043,4.122600,4.680142
min,2007.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2018.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2020.000000,2.000000,2.000000,2.000000,2.000000,3.000000,4.000000,6.000000,9.000000,6.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2021.000000,6.000000,7.000000,6.000000,7.000000,10.000000,14.000000,19.000000,21.000000,21.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2021.000000,68.000000,66.000000,49.000000,64.000000,77.000000,66.000000,144.000000,171.000000,94.000000,...,50.000000,44.000000,33.000000,29.000000,50.000000,52.000000,79.000000,81.000000,82.000000,97.000000

In [33]:
df2.iloc[:,3:]

,nivalis_2007_18km,nivalis_2008_18km,nivalis_2009_18km,nivalis_2010_18km,nivalis_2011_18km,nivalis_2012_18km,nivalis_2013_18km,nivalis_2014_18km,nivalis_2015_18km,nivalis_2016_18km,...,mexicanus_2012_18km,mexicanus_2013_18km,mexicanus_2014_18km,mexicanus_2015_18km,mexicanus_2016_18km,mexicanus_2017_18km,mexicanus_2018_18km,mexicanus_2019_18km,mexicanus_2020_18km,mexicanus_2021_18km
0,14,15,7,12,11,14,36,26,14,18,...,0,0,0,0,0,0,0,0,0,0
1,12,31,31,32,53,31,48,49,32,52,...,0,0,0,0,0,0,0,0,0,0
2,9,4,6,3,5,3,15,13,11,27,...,0,0,0,0,0,0,0,0,0,0
3,12,31,31,32,53,31,48,49,32,52,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,1,0,0,1,0,1,3,0,7,8,...,0,0,0,0,0,0,0,0,0,0
765,0,2,1,1,1,3,10,16,13,10,...,0,0,0,0,0,0,0,0,0,0
766,24,24,22,19,22,38,52,34,40,55,...,0,0,0,0,0,0,0,0,0,0
767,4,5,4,8,7,15,16,11,12,13,...,0,0,0,0,0,0,0,0,0,0
768,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df2.to_csv('./ursina_실전테스트_새.csv')

In [35]:
df2

,Species,gps,Year,nivalis_2007_18km,nivalis_2008_18km,nivalis_2009_18km,nivalis_2010_18km,nivalis_2011_18km,nivalis_2012_18km,nivalis_2013_18km,...,mexicanus_2012_18km,mexicanus_2013_18km,mexicanus_2014_18km,mexicanus_2015_18km,mexicanus_2016_18km,mexicanus_2017_18km,mexicanus_2018_18km,mexicanus_2019_18km,mexicanus_2020_18km,mexicanus_2021_18km
0,Brachiacantha ursina,"(42.459085, -71.275566)",2007,14,15,7,12,11,14,36,...,0,0,0,0,0,0,0,0,0,0
1,Brachiacantha ursina,"(42.31722259521485, -71.00861358642578)",2007,12,31,31,32,53,31,48,...,0,0,0,0,0,0,0,0,0,0
2,Brachiacantha ursina,"(43.0767029177, -89.5210551295)",2007,9,4,6,3,5,3,15,...,0,0,0,0,0,0,0,0,0,0
3,Brachiacantha ursina,"(42.317222, -71.008611)",2007,12,31,31,32,53,31,48,...,0,0,0,0,0,0,0,0,0,0
4,Brachiacantha ursina,"(42.028619, -94.85571)",2007,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,Brachiacantha ursina,"(46.6096305847, -72.7027511597)",2021,1,0,0,1,0,1,3,...,0,0,0,0,0,0,0,0,0,0
765,Brachiacantha ursina,"(45.4816548963, -71.8159053102)",2021,0,2,1,1,1,3,10,...,0,0,0,0,0,0,0,0,0,0
766,Brachiacantha ursina,"(45.4273762997, -75.7640765997)",2021,24,24,22,19,22,38,52,...,0,0,0,0,0,0,0,0,0,0
767,Brachiacantha ursina,"(45.02695, -74.7129366667)",2021,4,5,4,8,7,15,16,...,0,0,0,0,0,0,0,0,0,0
768,Brachiacantha ursina,"(18.4090864303, -77.1546757221)",2021,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df2 = pd.read_csv("./ursina_실전테스트_새.csv")

FileNotFoundError: [Errno 2] No such file or directory: './ursina_실전테스트_새.csv'

In [36]:
ke = pd.read_csv("../../일반화 과정/ursina_실전테스트_무당벌레.csv")

In [41]:
df2.iloc[:,3:]

,nivalis_2007_18km,nivalis_2008_18km,nivalis_2009_18km,nivalis_2010_18km,nivalis_2011_18km,nivalis_2012_18km,nivalis_2013_18km,nivalis_2014_18km,nivalis_2015_18km,nivalis_2016_18km,...,mexicanus_2012_18km,mexicanus_2013_18km,mexicanus_2014_18km,mexicanus_2015_18km,mexicanus_2016_18km,mexicanus_2017_18km,mexicanus_2018_18km,mexicanus_2019_18km,mexicanus_2020_18km,mexicanus_2021_18km
0,14,15,7,12,11,14,36,26,14,18,...,0,0,0,0,0,0,0,0,0,0
1,12,31,31,32,53,31,48,49,32,52,...,0,0,0,0,0,0,0,0,0,0
2,9,4,6,3,5,3,15,13,11,27,...,0,0,0,0,0,0,0,0,0,0
3,12,31,31,32,53,31,48,49,32,52,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,4,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
764,1,0,0,1,0,1,3,0,7,8,...,0,0,0,0,0,0,0,0,0,0
765,0,2,1,1,1,3,10,16,13,10,...,0,0,0,0,0,0,0,0,0,0
766,24,24,22,19,22,38,52,34,40,55,...,0,0,0,0,0,0,0,0,0,0
767,4,5,4,8,7,15,16,11,12,13,...,0,0,0,0,0,0,0,0,0,0
768,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
pd.concat([ke,df2.iloc[:,3:]],axis=1).to_csv("../../ursina테스트.csv")